<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Viet Nam Book Strap", root_path, id: "logo" %>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Shared", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "MyPage", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
       <div class="hidden_box">
        <label for="label1">ベトナム時間表示</label><input type="checkbox" id="label1"/>
       <div class="hidden_show">
       <!--非表示ここから--> <script type="text/javascript"src="//wg.time-j.net/Location/Asia/Ho_Chi_Minh" ></script></li>
       <!--ここまで-->
    </div>
  </div>
      </ul>
    </nav>
  </div>
</header>